@import "macchiato.css";

* {
    border: none;
    border-radius: 0;
    font-family: 'Fantasque Sans Mono', 'Fira Code', sans-serif;
    font-size: 16px;
    min-height: 0;
}


window.HDMI-A-1 * { font-size: 14px; }


window#waybar {
    background: @base;
    color: @text;
    border-bottom: 2px solid @base;
    transition-property: background-color;
    transition-duration: .5s;
}


tooltip {
    background: rgba(54, 58, 79, 0.92); /* surface0 */
    border: 1px solid @surface1;
    color: @text;
}
tooltip label {
    color: @text;
}


#tags, #workspaces, #mode, #window, #mpd, #cpu, #temperature#cpu, #custom-gpu, #temperature#gpu, #memory, #disk, #network, #clock, #idle_inhibitor, #tray {
    margin: 0 6px;
    padding: 0 3px;
}


#tags {
    margin: 0 3px 0 4px;
    padding: 0 0;
}

#tags button {
    background: @base;
    color: @text;
    margin: 0 2px 0 0;
    padding: 0 3px;
    border-bottom: 2px solid @surface1;
}

#tags button.occupied {
    border-bottom: 2px solid @pink;
}

#tags button.focused {
    border-bottom: 2px solid @green;
}

#tags button.urgent {
    border-bottom: 2px solid @red;
}


#workspaces {
    margin: 0 3px 0 4px;
    padding: 0 0;
}

#workspaces button {
    background: @base;
    color: @text;
    margin: 0 2px 0 0;
    padding: 0 3px;
    border-bottom: 2px solid @surface1;
}

#workspaces button.visible {
    color: @pink;
}

#workspaces button.focused {
    border-bottom: 2px solid @green;
    background: @surface1;
    color: @pink;
}

#workspaces button.urgent {
    border-bottom: 2px solid @red;
}


#mode {
    background: @peach;
    color: @base;
}


#mpd {
    margin: 0 12px 0 6px;
    border-bottom: 2px solid @flamingo;
}


#cpu {
    padding: 0 10px 0 3px;
    margin: 0 0;
    border-bottom: 2px solid @pink;
}


#temperature.cpu {
    padding: 0 3px 0 0;
    margin: 0 6px 0 0;
    border-bottom: 2px solid @pink;
}

#temperature.cpu.critical {
    border-bottom: 2px solid @red;
}


#custom-gpu {
    padding: 0 10px 0 3px;
    margin: 0 0 0 6px;
    border-bottom: 2px solid @mauve;
}


#temperature.gpu {
    padding: 0 3px 0 0;
    margin: 0 6px 0 0;
    border-bottom: 2px solid @mauve;
}


#memory {
    border-bottom: 2px solid @peach;
}


#disk {
    border-bottom: 2px solid @teal;
}


#network {
    border-bottom: 2px solid @base;
}

#network.disconnected {
    border-bottom: 2px solid @red;
}

#network.ethernet {
    border-bottom: 2px solid @green;
}

#network.linked {
    border-bottom: 2px solid @green;
}


#clock {
    border-bottom: 2px solid @blue;
}

#idle_inhibitor {
    margin: 0 0 0 6px; 
    border-bottom: 2px solid @surface2;
    font-size: 22px;
}

#tray {
    margin: 0 3px 0 0;
    padding: 0 3px;
    border-bottom: 2px solid @surface2;
}

#tray menu {
    background: @base;
    color: @text;
}
